body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:16px;
    background: linear-gradient(to right, #e3f2fd, #fce4ec);
}

/* Header layout */
.header {
    background-color: #3f51b5;
    padding: 30px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

/* Profile Image */
.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgb(32, 27, 27);
}

/* Text section */
.header-text h1 {
    color: white;
    margin: 0;
}

.header-text p {
    color: #e0e0e0;
    margin: 5px 0 10px;
}

/* Navigation */
.header-text nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

.header-text nav a:hover {
    text-decoration: underline;
}

/* Responsive (Mobile View) */
@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }
}


nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.card {
    background: white;
    margin: 30px auto;
    padding: 25px;
    width: 80%;
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.card h2 {
    color: #3f51b5;
}

.tags {
    list-style: none;
    padding: 10px 0;
}

.tags li {
    display: inline-block;
    background: #3f51b5;
    color: white;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #3f51b5;
    color: white;
}
